{% extends 'base.html' %}

{% block header %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block extend_tags %}
    {% include 'tag_ctrl.html' %}
    {% if current_user_taggroup %}
        <a href="{{ url_for('manage_tags', tg=current_user_taggroup.idtaggroup)}}" class="btn btn-primary">Edit tags in this topic</a>
    {% endif %}
{% endblock %}

{% block main %}
  {% if current_user.is_admin and current_user_taggroup %}
      <form method=POST enctype=multipart/form-data action="{{ url_for('upload_notes', idtaggroup=current_user_taggroup.idtaggroup) }}">
          <input type=file name=upload_notes>
          <p></p>
          <input class = "btn btn-primary" type="submit" value="Upload notes">
      </form>
  {% endif %}
  <p></p>

  <p><span class="glyphicon glyphicon-info-sign"></span> While your content is still in draft mode, you don't need to have a topic or tags but before you could publish, please prepare topic and tags.
      Content and their attachments can only be edited or deleted by the author of the content.</p>
  {% if current_user.is_authenticated() %}
    <form action = "" method=post class=add-note>
      <dl>
        <dt>Title:
        <dd><input type=text maxlength="255" name=title class="newNoteTitle" value = "{{ new_note.title|safe }}" >
        <p></p>
        <dt>Text:
        <dd><textarea maxlength="65535" name="notetext" id="notetext">{{ new_note.text|safe }}</textarea>
        <p></p>
        <p><span class="glyphicon glyphicon-info-sign"></span> All contents are public with global visibility except drafts.</p>
        <dd><input formaction= "{{ url_for('add_note', published=0) }}" class = "btn btn-primary" type=submit value="Save draft">
          <input formaction= "{{ url_for('delete_draft') }}" class = "btn btn-primary" type=submit value="Cancel/Delete draft">
          {% if publishing %}
              <input formaction= "{{ url_for('add_note', published=1) }}?publishing" class = "btn btn-primary" type=submit value=Share>
              <a class = "btn btn-danger" href="{{ url_for('add_note', published=0) }}">Cancel publishing</a>
          {% else %}
              <input formaction= "{{ url_for('add_note', published=1) }}" class = "btn btn-primary" type=submit value=Share>
          {% endif %}
        <dd><input type="text" name="note_tags" hidden>
      </dl>
    </form>
    <input type="text" id="noteid" value="{{ new_note.idnote }}" hidden>
    {% if new_note %}
        {% set idnote=new_note.idnote %}
        {% include 'manage_attachments.html' %}
    {% endif %}
  {% endif %}
{% endblock %}
