{% extends 'base.html' %}

{% block extend_tags %}
{% endblock %}

{% block main %}

<div class="container">
  <div class="jumbotron">
    <h1>Do you have documents or notes to share? Satahan is for you....</h1>
    <p></p>
    <p><span class="glyphicon glyphicon-ok"></span>  Simple design.</p>
    <p><span class="glyphicon glyphicon-ok"></span>  Easy search.</p>
    <p><span class="glyphicon glyphicon-ok"></span>  User favourites.</p>
    <p><span class="glyphicon glyphicon-ok"></span>  Upload attachments.</p>
    <p><span class="glyphicon glyphicon-ok"></span>  And many more.</p>
    <p><span class="glyphicon glyphicon-ok"></span>  To view content without loging in, go to <a class="btn btn-primary" href="{{ url_for('view_group') }}"><span class="glyphicon glyphicon-tags"></span> Topics</a>.</p>
    <p></p>
    <p><a class="btn btn-primary" href="{{ url_for('user.register') }}" >  Register</a> or
       <a class="btn btn-primary" href="{{ url_for('user.login') }}" >Sign in</a> and start sharing.
    </p>
  </div>
</div>

{% endblock %}