{% extends 'base.html' %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block main %}

    <button class = "btn btn-info" data-toggle="collapse" data-target="#tips">Tips</button>
    <p></p>

    <div id="tips" class="collapse">
        <div class="panel panel-default">
          <div class="panel-body">
                <p>Descripton of buttons:</p>
                <span class="glyphicon glyphicon-edit"></span>&nbsp; : Edit group name. Group should be in your favourites list.<br>
                <span class="glyphicon glyphicon-trash"></span>&nbsp; : Delete groups not in use.<br>
                <span class="glyphicon glyphicon-star-empty"></span>&nbsp; : Add group to favourites. Select and click Update favorites button.<br>
                <span class="glyphicon glyphicon-star"></span>&nbsp; : Remove group from favourites. Select and click Update favorites button.<br>
                <p></p>
                <p>You have {{ user_settings.admin_points }} <a href="about#adminpoints">admin points</a>. Adding a group requires 2 admin points. Edit and delete require 1 admin point.</p>
          </div>
        </div>
    </div>

    <form action="">
        <input type="input" name="taggroupname" maxlength="75">
        <input type="input" name="f" value={{ f }} hidden>
        <input formmethod=post formaction="{{ url_for('add_group') }}" class = "btn btn-primary" type=submit value="Add group">
        <input formmethod=get formaction="{{ url_for('manage_group') }}" class = "btn btn-primary" type=submit value="Search">
    </form>
    <p></p>

    <ul class="nav nav-pills">
      <li {% if f !="f" %}class="active"{% endif %}><a href="{{ url_for('manage_group') }}">All</a></li>
      {% if current_user.usertaggroups.all()|length > 0 %}
        <li {% if f =="f" %}class="active"{% endif %}><a href="{{ url_for('manage_group', f='f') }}">Favorites</a></li>
      {% endif %}
    </ul>
    <p></p>

    <div ng-controller="taggroup_ctrl" class="taggroup_ctrl">

        {% include 'taggroup_edit_dlg.html' %}

        <form action="{{ url_for('manage_group') }}" method=post>
            <table style="table-layout: fixed;">
            {% for row in taggroups|batch(3) %}
                <tr>
                    {% for taggroup in row %}
                        <td width="24" style="border-left: 1px solid #eee;">
                            {% if taggroup in current_user.usertaggroups %}
                                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#taggroup_edit_dlg" ng-click="edit_taggroup_onclick({{taggroup.idtaggroup}}, &quot;{{taggroup.taggroupname}}&quot;)">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;
                                </button>
                            {% endif %}
                        </td>
                        <td width="24">
                            {% if taggroup.idtaggroup not in taggroupsinuse %}
                                <button class="btn btn-xs btn-danger" type="submit" formaction="{{ url_for('delete_group', idtaggroup = taggroup.idtaggroup ) }}">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                </button>
                            {% endif %}
                        </td>
                        <td width = "500px">
                            <label class="btn btn-xs">
                                <input type="checkbox" name="taggroup" class="glyphicon glyphicon-star-empty" value={{ taggroup.idtaggroup }} {% if taggroup in current_user.usertaggroups %}checked{% endif %}>
                            </label>
                            <a href="\?tg={{ taggroup.idtaggroup }}"> {{ taggroup.taggroupname }}</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
            <hr>
            <input class = "btn btn-primary" type=submit value="Update favorites">
        </form>

    </div>

{% endblock %}