<!-- Modal -->
<div class="modal fade" id="tag_delete_conf_dlg" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Do you want to delete note {{ tag_delete_conf_dlg_idnote }}?</p>
        </div>
        <div class="modal-footer">
          <a class = "btn btn-default" href="{{ url_for('delete_note', idnote = tag_delete_conf_dlg_idnote) }}">Ok</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>